.component-page-container {
    width: 100%;
    background-color: rgba(109, 128, 125, 0.5);
    display: flex;
    padding: 1em;
    min-height: calc(100vh - 120px);
}

.component-data-contaner {
    text-align: center;
    background-color: white;
    border-radius: 25px;
    margin: 0.8em;
    padding: 1.5em;
    display: flex;
    overflow: hidden;
    width: 50%;
    height: fit-content;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.component-main-data {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 2em;
}

.component-photo {
    width: 80%;
    height: 80%;
    margin: 2em;
    padding: 0em;
    object-fit: contain;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.component-photo:hover {
    transform: scale(1.05); 
}

.tabs-panel-wrapper {
    display: grid;
    padding-top: 1em;
}

.component-model-container {
    width: 100%;
    text-align: left;
    word-break: break-all;
    display: grid;
}

.component-model {
    font-size: 1.5em; 
    font-weight: 700; 
    color: #2d3436; 
    font-family: 'Roboto', sans-serif; 
    text-transform: uppercase; 
}

.component-id {
    font-family: 'Roboto', sans-serif;
    color: #2d34366c; 
    font-size: 0.8em; 
}

.component-attributes {
    width: 100%;
    display: grid;
    text-align: left;
}

.component-attribute {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    padding: 0.6em;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
}

.component-attribute:hover {
    background-color: rgba(109, 128, 125, 0.116);
}

.tab-label {
    font-size: 1.4em;
    font-weight: 700;
}

.component-stock {
    width: 100%;
    text-align: left;
}