.components-page-container {
    display: flex;
    margin: 0;
    min-height: calc(100vh - 120px);
    background-color: rgba(109, 128, 125, 0.5);
    overflow: auto;
    width: 100%;
}

.components-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(174, 177, 180);
}

.components-filter-container {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: white;
}