.schema-page-container {
    width: 100%;
    min-height: calc(100vh - 120px);
    padding: 2em;
}

.schema-main-container {
    background-color: white;
    border-radius: 1em;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
}

.schema-data-container {
    display: flex;
}

.schema-main-data {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 40%;
}

.schema-list-data {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 60%;

}

.schema-name {
    font-size: 1.5em; 
    font-weight: 700; 
    color: #2d3436; 
    font-family: 'Roboto', sans-serif; 
    text-transform: uppercase; 
}

.schema-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    transition: transform 0.3s ease;
}

.schema-photo:hover {
    transform: scale(1.05);
}

.schema-components-wrapper, .schema-features-wrapper {
    padding-top: 1em;
}

.schema-component-wrapper, .schema-feature-wrapper {
    display: grid;
}

.schema-component, .schema-feature {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    padding: 0.3em;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
}

.schema-feature {
    padding: 0.7em;
}

.schema-component:hover, .schema-feature:hover {
    background-color: rgba(109, 128, 125, 0.116);
}

.component-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.schema-component-type, .schema-feature-name {
    font-weight: 700;
    display: flex;
    align-items: center;
}

.schema-component-photo {
    height : 1.8em;
    border-radius: 5px;
}

.schema-component-model {
    padding: 0em 0.6em;
}

.creator-username {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    padding-left: 1em;
}

.creator-data-container {
    display: flex;
    align-items: center;
    padding: 0.8em 1em;
    padding-bottom: 0em;
    margin-top: 0.5em;
    padding-left: 0em;
}