.tutorials-page-container {
    display: flex;
    background-color: rgba(109, 128, 125, 0.5);
}

.tutorials-main-container{
    width: 80%;
    padding: 20px;
}

.tutorials-contents-table-container {
    background-color: rgb(255, 255, 255);
    color: rgba(30, 30, 30, 0.5);
    display: flex;
    width: 20%;
    padding: 20px;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;

    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

    position: sticky;
    top: 20%;
    align-self: flex-start;
    height: fit-content;

    margin-right: 1rem;
}

[data-heading] {
  scroll-margin-top: 180px; 
}